.blocks-area
  .grid-container
    .grid-item
      .fs-0_8 Block name
      .row
        .col-6
          .fs-1_4.fw-bold.my-5 21.9°
          .fs-0_7 Text 
        .col-6
          .fs-1_4.fw-bold.my-5 21.9°
          .fs-0_7 Text
    .grid-item
      .fs-0_8 Block name
      .row
        .col-6
          .fs-1_4.fw-bold.my-5 21.9°
          .fs-0_7 Text 
        .col-6
          .fs-1_4.fw-bold.my-5 21.9°
          .fs-0_7 Text
    .grid-item
      .fs-0_8 Block name
      .row
        .col-6
          .fs-1_4.fw-bold.my-5 21.9°
          .fs-0_7 Text 
        .col-6
          .fs-1_4.fw-bold.my-5 21.9°
          .fs-0_7 Text
    .grid-item
      .fs-0_8 Block name
      .row
        .col-6
          .fs-1_4.fw-bold.my-5 21.9°
          .fs-0_7 Text 
        .col-6
          .fs-1_4.fw-bold.my-5 21.9°
          .fs-0_7 Text