h2.section-title Comments 
.comments-area(data-simplebar data-simplebar-auto-hide="false")
  .comment-item
    .comment-label Label name
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris venenatis et nisl a venenatis. Suspendisse ornare sem eu dolor tempor hendrerit. Cras orci leo, tristique a ultrices sed, elementum ac dui.
    .comment-data 
      .fw-bold 01.01.2024
      .comment-author User full name
  .comment-item
    .comment-label Label name
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris venenatis et nisl a venenatis. Suspendisse ornare sem eu dolor tempor hendrerit. Cras orci leo, tristique a ultrices sed, elementum ac dui.
    .comment-data 
      .fw-bold 01.01.2024
      .comment-author User full name
  .comment-item
    .comment-label Label name
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris venenatis et nisl a venenatis. Suspendisse ornare sem eu dolor tempor hendrerit. Cras orci leo, tristique a ultrices sed, elementum ac dui.
    .comment-data 
      .fw-bold 01.01.2024
      .comment-author User full name
  .comment-item
    .comment-label Label name
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris venenatis et nisl a venenatis. Suspendisse ornare sem eu dolor tempor hendrerit. Cras orci leo, tristique a ultrices sed, elementum ac dui.
    .comment-data 
      .fw-bold 01.01.2024
      .comment-author User full name
  .comment-item
    .comment-label Label name
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris venenatis et nisl a venenatis. Suspendisse ornare sem eu dolor tempor hendrerit. Cras orci leo, tristique a ultrices sed, elementum ac dui.
    .comment-data 
      .fw-bold 01.01.2024
      .comment-author User full name
  .comment-item
    .comment-label Label name
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris venenatis et nisl a venenatis. Suspendisse ornare sem eu dolor tempor hendrerit. Cras orci leo, tristique a ultrices sed, elementum ac dui.
    .comment-data 
      .fw-bold 01.01.2024
      .comment-author User full name